<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../fragmente/head.ejs") %>

    <meta name="description" content="Hanorace, caciuli, tricouri, masti de sezon, avem tot ce-ti trebuie.">
    <meta name="keywords" content="Bb4k, bb4k, ciucas, 12c baietii, merch">
    <title>Bb4k</title>

</head>

<body>
<div class="container">

    <%- include("../fragmente/back-to-top-button.ejs") %>

    <div class="page-padding">

        <%- include("../fragmente/header.ejs") %>

        <div id="img-container">
            <img id="poza-prezentare" src="media/grup_best.jpg" alt="poza-prezentare">
        </div>

        <div class="content">
            <section class="about-us">
                <h1>Despre noi</h1>
                <p>Ip: <%- locals.ip %></p>
                <p>
                    Suntem o adunatura de <b>18 barbati</b>, toti parte din clasa 12C, cunoscuta si sub numele de
                    12Ciucas. Ne plac
                    iesirile cu cortul, pentru ca ne lasa sa ne manifestam barbatia spargand lemne, facand glume
                    misogine
                    si band iresponsabil fara sa fim judecati. Deci daca nu ai fost coleg de clasa cu noi in liceu n-ai
                    cum sa mai intrii in grup.
                </p>
                <p>
                    Noi ca baieti eram oricum destul de uniti, insa nu aveam si un nume. Grupul a luat nastere in clasa
                    a
                    12-a cand am vrut sa ne organizam sa luam martisoare la comun fetelor din clasa, pentru ca in loc de
                    100
                    de martisoare mediocre mai bine o ciocolata, o floare si un martisor "din partea baietilor". Insa
                    numele
                    de <b>Bb4k</b> a aparut mai tarziu.
                </p>
                <p>
                    Infintarea grupului de Whatsapp reprezinta si ziua grupului, <strong>22 feb</strong>, si in fiecare
                    an incercam sa marcam
                    momentul facand diverse: <s>la 1 an</s> am luat un tort in forma de sani, si am iesit la o terasa
                    imbracati elegent,
                    oximoron; la 2 ani am plecat pe munte, am incercat sa urcam pe Vf. Ciucas in mod simbolic, insa nu
                    am reusit...
                    vremea a fost foarte agresiva la inaltime, iar noi nu am fost echipati pe masura; iar anul viitor,
                    la
                    aniversarea de 4 ani mergem in Amsterdam cu scopul de a ne intoarce desfigurati. Follow for more!
                </p>

                <!--                TODO: iframe pentru media asta-->
                <div class="about-videos" style="display: flex">
                    <blockquote class="instagram-media"
                                data-instgrm-permalink="https://www.instagram.com/p/CENGOu_HTYu/">
                    </blockquote>

                    <blockquote class="instagram-media"
                                data-instgrm-permalink="https://www.instagram.com/p/CVqgACZhPws/">
                    </blockquote>

                    <blockquote class="instagram-media"
                                data-instgrm-permalink="https://www.instagram.com/p/B3fH4H1hnRN/">
                    </blockquote>
                    <script async src="//www.instagram.com/embed.js"></script>
                </div>

                <section class="social-media">
                    <h2>Social Media</h2>
                    <a href="https://www.instagram.com/_bb4k_/" target="_blank"><img src="media/instagram.png"
                                                                                     alt="instagram-logo"></a>
                </section>

            </section>

            <img id="calendar" src="media/calendar-placeholder.png" alt="calendar-evenimente">

            <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th colspan="4">Date membrii random</th>
                </tr>
                <tr>
                    <th>Nume</th>
                    <th>Prenume</th>
                    <th>Post</th>
                    <th>Activ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Nicolescu</td>
                    <td>Robert</td>
                    <td>Organizator</td>
                    <td>Da</td>
                </tr>
                <tr>
                    <td>Balmau</td>
                    <td>Dragos</td>
                    <td>Camera-man</td>
                    <td>Da</td>
                </tr>
                </tbody>
            </table>
            </div>

            <img id="anunturi" src="media/anunt-placeholder.png" alt="anunturi">

            <section id="faq-section">
                <h2>Intrebari Frecvente</h2>
                <ul>
                    <li><h3>De la ce vine Bb4k?</h3>
                        <p>Acesta este un secret de stat si trebuie tratat ca atare.</p>
                    </li>
                    <li><h3>Pe ce data e ziua Bb4k?</h3>
                        <p>22 feb 2018.</p>
                    <li><h3>Ce trebuie sa fac pentru a intra in grup?</h3>
                        <p>Sa fi fost coleg de clasa cu noi in liceu, sau sa fii extrem de apropiat de majoritatea
                            baietilor din grup
                            si totodata mai implicat decat multi dintre noi. Exemplu: Lazar, membru proaspat, era
                            mai
                            hotarat/entuziasmat de plecarea in Amsterdam decat jumatate dintre membri.</p>
                    <li><h3>Chiar livrati produsele, daca le comandam?</h3>
                        <p>Chiar da. In general am incerca sa strangem sa facem o comanda bulk, pentru a scuti
                            transportul,
                            dar site-ul chiar este functional.</p>
                </ul>
            </section>

        </div>

        <div class="server-status">

        </div>
        <div class="users-online">

        </div>
        <div class="user-data">

        </div>

        <div class="iframe-container">
            <iframe name="ifr-video"
                    src="https://www.youtube.com/embed/PVreNsLHWig"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
            <div class="iframe-tabs">
                <a href="https://www.youtube.com/embed/PVreNsLHWig" target="ifr-video">Clip 1</a>
                <a href="https://www.youtube.com/embed/7EBxAtX72TQ" target="ifr-video">Clip 2</a>
            </div>
        </div>

        <%- include("../fragmente/footer.ejs") %>

    </div>
</div>

</body>
</html>